.nav{
  color: white;
  background-color: black;
  position: fixed;
  top:0;
  width:100%;
  padding: 20px;
  height: 70px;
  z-index: 5;
    display: flex;
  justify-content: space-between;

  /* Animations */
  transition: ease-in all 0.5s;
}

.nav__logo{
  padding:0;
  top:0;
  position: fixed; 
  left: 20px;
  width: 70px;
  object-fit: contain;
}

.nav__items{
text-decoration: none;
font-weight: bold;

a {
margin: 0 1em;
}
}

.icons{
  display: flex;
  justify-content: space-between;
  .icon-size{
    margin: 1rem;
    font-size: 1.7rem;

    &:hover{
      color:rgb(179, 56, 179);
      transform: translateY(-5px);
    }
  }
  
}